


<par class = "par" id="contact">
<br>
<br>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Comunícate con nosotros</h2>
                <hr class="primary">
                <p>Estaremos listos para Contestar tus dudas y tus preguntas.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>La finca Perfecta</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="">
            <i class="fa fa-mobile fa-3x wow bounceIn" data-wow-delay=".1s">+57 318 788 6950</i>
                <p></p>
            </a>
        </div>

    </div>
</par>

<!-- Footer -->
        
            <!-- Contact section -->
            
            <!-- End Contact section -->
        
        <!-- End Footer -->
