<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>

	
	

	<!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">
  



	
	
  <!-- CSS Theme -->
  <link rel="stylesheet" href="assets/css/lawyer.style.css">

</head>

<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery lawyer-style">
	<main class="wrapper">
		<!-- Footer -->
		<footer>
			<!-- Contact section -->
			<section id="contact" class="g-theme-bg-color-1 g-text-color-2">
				<div class="container-fluid">
					<div class="row no-column-space equal-height-columns">
						<div class="col-sm-6 g-dp-table g-va-middle equal-height-column">
							<div class="g-pl-80 g-pr-80 g-pl-15--xs g-pr-15--xs g-pt-100 g-pb-50 g-dp-table-cell g-va-middle">
								<div class="g-heading-v9 g-mb-30">
									<h2 class="text-uppercase"><strong>Get In Touch</strong></h2>
								</div>
								<p class="g-fs-16 g-mb-60">In eu commodo est. Sed bibendum a metus ac sollicitudin. Curabitur elementum placerat elit vel accumsan.</p>
								<ul class="list-unstyled g-fs-12 address-list text-uppercase">
									<li><i class="glyphicon glyphicon-map-marker g-mr-15"></i> <em>Address:</em> <strong>In sed lectus tincidunt</strong></li>
									<li><i class="glyphicon glyphicon-earphone g-mr-15"></i> <em>Phone Number:</em> <strong>+48 555 2566 112</strong></li>
									<li><i class="fa fa-envelope g-mr-15"></i> <em>Email:</em> <strong>marketing@unify.com</strong></li>
									<li><i class="fa fa-comments g-mr-15"></i> <em>Toll Free:</em> <strong>+48 555 1258 987</strong></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-6">
							<div id="map" class="contact-section-map"></div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Contact section -->
		</footer>
		<!-- End Footer -->
	</main>

	
	<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&amp;callback=initMap" async defer></script><script src="assets/js/plugins/gmaps-ini.js"></script>
	
	
	

	<!--[if lt IE 10]>
		<script src="../assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
	<![endif]-->
</body>
</html>
