<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A tú servicio</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            A menos de 70 km de Bogotá, usted encontrará esta hermosa finca, la casa principal construida en el 2014. Cuenta con tres cuartos, dos baños, cocina y sala comedor espaciosos y modernos, diseñados con mucho estilo por una familia Colombo-Sueca. Piscina con jacuzzi, sillas soldadoras y parasol, zona de juego, dos asadores, parqueadero para 5 carros, árboles frutales, plata eléctrica y los asesoraos necesarios para disfrutar sus vacaciones.  Mayordomo cuida y vive en la finca, en casa separada. 
Vista inigualable, en las mañanas disfrutará de los nevados del Ruiz y del Tolima y en la tarde de los mejores atardeceres que pueda imaginar. 
        </div>
</section>
