<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<body id="page-top">
  {% include nav.html %}
 
  <section id="contact" class="g-theme-bg-color-1 g-text-color-2">
                <div class="container-fluid">
                    <div class="row no-column-space equal-height-columns">
                        <div class="col-sm-6 g-dp-table g-va-middle equal-height-column">
                            <div class="g-pl-80 g-pr-80 g-pl-15--xs g-pr-15--xs g-pt-100 g-pb-50 g-dp-table-cell g-va-middle">
                                <div class="g-heading-v9 g-mb-30">
                                   <a href="https://www.google.com.pr/maps/@5.0535836,-74.2975564,3a,75y,265.91h,72.19t/data=!3m7!1e1!3m5!1sSKf1jhBG_TmizNLK923CIw!2e0!6s%2F%2Fgeo1.ggpht.com%2Fcbk%3Fpanoid%3DSKf1jhBG_TmizNLK923CIw%26output%3Dthumbnail%26cb_client%3Dmaps_sv.tactile.gps%26thumb%3D2%26w%3D203%26h%3D100%26yaw%3D40.208748%26pitch%3D0!7i13312!8i6656!5m1!1e4?hl=es"  target="_blank"> <h2 class="text-uppercase" ><strong>Cómo Llegar a la finca Perfecta</strong></h2></a>
                                </div>
                                <p class="g-fs-16 g-mb-60">La Finca se encuentra ubicada en la vereda HOYA GRANDE/MAGOLA. 
Salir por la calle 80 vía La Vega, tomar la primera salida de San Francisco, entrar al municipio y tomar la vía en dirección a Supata, una vez llegue al municipio Magola (aproximadamente 20-25 min de San Francisco) girar a la izquierda en dirección Vergara y seguir los letreros rojos-amarillos que anuncian el Resort CAROL JUDITH, estos lo llevaran a la entrada de la vereda HOYA GRANDE, después de pasar la tienda de la vereda hacer una izquierda manejar 200 mts por esta única vía y una vez que empieza a bajar, la finca se encuentra a mano izquierda. </p>
                                
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div id="map" class="contact-section-map"></div>
                        </div>
                    </div>
                </div>
            </section>
  

  {% include scripts.html %}
</body>

</html>
</html>
